.modal-overlay {
    background: rgba(0, 0, 0, .6);
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: 1ms opacity ease;
    width: 100%;
    z-index: 9998;

    &.modal--open {
        opacity: 1;
    }

    &.fade-and-drop {
        display: block;
        opacity: 0;
    }

    &.zoom {
        display: block;
        opacity: 0;
        transition: 500ms opacity 500ms ease;

        &.modal--open {
            opacity: 1;
            top: 0;
            transition: 500ms opacity ease;
        }
    }
}

.modal {
    background: palette(white);
    border-radius: $border-radius--large;
    font-family: 'snigletregular';
    left: 50%;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 1ms opacity ease;
    width: 94%;
    z-index: 9999;

    &.modal--open {
        opacity: 1;

        &.modal--anchored {
            top: 20px;
            transform: translate(-50%, 0);
        }
    }

    &.zoom {
        display: block;
        opacity: 1;
        transform: translate(-50%, -50%) scale(0);
        transition: 500ms transform ease;

        &.modal--open {
            transform: translate(-50%, -50%) scale(1);
            transition: 500ms transform 500ms ease;
        }

        &.modal--anchored {
            transition: 500ms transform 500ms ease;
        }
    }
}

.modal__header {
    background-color: #5bc694;
    border-top-left-radius: $border-radius--large;
    border-top-right-radius: $border-radius--large;
    color: palette(white);
    font-size: 1.1em;
    padding: $padding--large;

    h1 {
        margin: 0;
    }
}

.modal__body {
    font-size: 1.4em;
    padding: 0 $padding--large;

    h3 {
        margin-bottom: 0;
    }
}

.modal__award {
    color: palette(yellow);
    display: inline-block;
    margin-top: $padding--large;
    text-align: center;

    i {
        font-size: $font-size--x-large;
        line-height: 60px;

        + i {
            margin-left: $margin--small;
        }
    }
}

.modal__footer {
    padding: $padding--large;
}

[data-level-title="monsterous"] .modal .btn--positive {
    display: none;
}

.modal__close-button {
    background: none;
    border: 0;
    color: palette(white);
    font-size: 2.2rem;
    position: absolute;
    right: .5rem;
}
